*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html body{
    height: 100%;
}
.wrapper{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.button:before,
.button:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    top: -10px;
    left: 50%;
    z-index: 1;
    transition: all 0.8s ease 0s;
    margin-left: 0 0 0 -40px;
}
.button:before{
    animation: rotate 20s infinite linear;
}
.button:after{
    animation: rotate 25s infinite linear;
}

.button_text{
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    border-radius: 50px;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 3);
    letter-spacing: 10px;
    transition: all 1s ease 0s;
    top: 0;
    overflow: hidden;
}
.button_text:before,
.button_text:after{
    content:'';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #eee;
    transition: all 0.8s ease 0s;
}
.button_text:before{
    left: 0;
    z-index: 2;
}
.button_text:after{
    right: 0;
}
.button_text span{
    position: relative;
    z-index: 2;
}
.button:hover .button_text{
    top: -10px;
    color: #fff;
    transition: all 0.5s ease 0.2s;
    box-shadow: 0 5px 0 0#18b5a4;

}

.button:hover:before,
.button:hover:after{
    left: 100%;
    opacity: 0;
}
.button:hover .button_text:before{
    width: 100%;
}
.button:hover .button_text:before,
.button:hover .button_text:after{
    background-color: #18b5a4;
}
.button:active .button_text{
    top: -7px;
    transition: all 0.1s ease 0.2s;
    box-shadow: 0 2px 0 0#18b5a4;
}
@keyframes rotate{
    0%{transform:rotate(0deg)}
   100%{transform:rotate(360deg)}
}